<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Niko's farve</title>
    <link rel="stylesheet" href="/css/person-side.css">
</head>
<body id="yfarvebackNiko">
<div>
    <img src="/img/niko-maler.jpg" alt="nzkfarve">
</div>
<div class="farve-container">
    <div id="yFarveNiko">
        blå
    </div>

        <div class="buttonGrid">
            <a href="/niko/niko-about">
                <button>Tilbage</button>
            </a>
        </div>

    </div>
</body>
</html>