<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VALDEMAR OG NIKO</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<h1>Velkommen til vores Side</h1>
<div class="images-container">
    <a href="/home/valde">
        <div class="flip-card">
            <div class="flip-inner">
                <img class="flip-front" src="/img/valde-front.jpg" alt="valde">
                <img class="flip-back" src="/img/valde-back.png" alt="valde back">
            </div>
        </div>
    </a>
    <a href="/home/niko">
        <div class="flip-card">
            <div class="flip-inner">
                <img class="flip-front" src="/img/niko-back.png" alt="niko">
                <img class="flip-back" src="/img/niko-front.jpeg" alt="niko back">
            </div>
        </div>
    </a>
</div>

</body>
</html>
